html {
    scroll-behavior: smooth;
    /* background-color: red; */
  }

.container {
    height: 90vh;
    /* width: 90vw; */
    /* min-width: 540px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "navbar"
        "main-doc";
}

#main-doc {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Open Sans', Lato, Raleway, Montserrat, 'PT Sans'; */
    /* font-family: Cardo, Merriweather, 'PT Serif'; */
    /* font-family: 'Montserrat'; */
    
    overflow-y: scroll;
    line-height: 180%;
    text-align: center;
}

main h1 {
    /* display: inline-block; */
}

 /* .main-doc-projects__content, .main-doc-expertise__content, .main-doc-contact__content, .main-doc-misc__content {
    padding: 1rem;
    @media(min-width: 640px) {
        padding: 2.5rem;
    }
} */