@import "normalize.css";
@import "./base/_variables.css";
@import "./base/_global.css";
@import "./base/_mixins.css";
@import "./modules/_navbar.css";
@import "./modules/_main-doc-home.css";
@import "./modules/_main-doc-about.css";
@import "./modules/_main-doc-projects.css";
@import "./modules/_main-doc-skills.css";
@import "./modules/_main-doc-contact.css";
@import "./modules/_footer.css";
@import "./modules/_modal.css";

@import "./modules/_feedback.css";
@import "./modules/_tooltip.css";