.footer {
    overflow: auto;
    background-color: $themeDark;
    color: $themeLight;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* display: none; */
    
    & p {
        margin-top: .2rem; margin-bottom: 0.2rem;
        font-size: 0.9rem;
        @mixin atMedium {
            font-size: 1rem;
        }
        /* perhaps also make this a carousel ?? */
    }
}