.about-container {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:         
            "about-me"
            "my-selfie"
            "my-background";
}

/* @media (min-width: 800px) { */
@mixin atMedium {
    .about-container {
        /* display: grid; */
        grid-gap: 2rem;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "about-me my-selfie my-background";
    }
}

.main-doc-about {
    background-color: $themeLight;
    padding: 1rem;
    /* @media(min-width: 640px) { */
    @mixin atSmall {
        padding: 2.5rem;
    }

    & a {
        /* text-decoration: none; */
        font-weight: 700;

        &:hover {
            color: $themeLight;
            background-color: $themeDark;
        }
    }

    &__text-content {
        text-align: justify;
        /* @media(min-width: 640px) { */
        @mixin atSmall {
            text-align: left;
        }

        &--about-me {
            grid-area: about-me;
        }
        
        &--my-background {
            grid-area: my-background;

        }
    }

    &__selfie {
        grid-area: my-selfie;
        width: 150px;
        justify-self: center;
        border: solid 5px $themeDark;
        border-radius: 40px;
        /* @media(min-width: 800px) { */
        @mixin atMedium {
            align-self: center;
            border-radius: 75px;
        }
    }
}