.main-doc-home {
    background-color: $themeDark;
    position: relative;
    max-height: 90vh;
    min-height: 350px;
    overflow: hidden;
    border-bottom: solid 0.75rem $themeDark;

    &__back-image{
        /* object-fit: cover; */
        /* position: fixed; */
        width: 100%;
        filter: brightness(80%);
        /* height: 100vh; */
    }
    
    &__text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $themeLight;
    }

    &__title {
        line-height: 125%;
        font-size: 2.5rem;
        @mixin atMedium {
            font-size: 3.5rem;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
    }

    &__icon {
        color: $themeLight;
        padding: 1.2rem;
        font-size: 1.5rem;
        @mixin atMedium {
            font-size: 2rem;
            border-radius: 15% 40%;
        }
        
        &:hover {
            color: $themeDark;
            background-color: $themeLight;
        }
    }
}