.main-doc-contact {
    background-color: $themeMedium;
    padding: 1rem;
    @mixin atMedium {
        padding: 2.5rem;
    }
    
    &__text-content {
        text-align: justify;
    }

    & a {
        text-decoration: none;
    }

    &__copyright {
        margin: 0;
        font-size: 0.75rem;
        padding-bottom: 1rem;
    }
}

