main h1 {
    display: inline-block;
}

.main-doc__home {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.main-doc__home-text-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.main-doc__home-image{
    /* object-fit: cover; */
    width: 100%;
    /* width: auto; */
    /* height: 100vh; */
}

.main-doc__my-name {
    font-size: 3rem;
}

.main-doc__my-role {
    font-size: 1.5rem;
}

.main-doc__about, .main-doc__projects, .main-doc__expertise, .main-doc__contact, .main-doc__misc {
    min-height: 100vh;
}

.main-doc__about-content, .main-doc__projects-content, .main-doc__expertise-content, .main-doc__contact-content, .main-doc__misc-content {
    padding: 2.5rem;
}


/* 
.main-doc__about
.main-doc__projects
.main-doc__expertise
.main-doc__contact 
*/