.main-doc-contact {
    background-color: $themeMedium;
    
    & a {
        text-decoration: none;
    }

    &__icon {
        color: $themeDark;
        font-size: 2rem;
        padding: 1.2rem;
        @media(min-width: 640px) {
            font-size: 2.5rem;
            padding: 1.2rem 2rem;
        }
        
        &:hover {
            color: $themeLight;
            background-color: $themeDark;
        }
    }

    &__copyright {
        margin: 0;
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
}

