
#navbar {
    background-color: $lightGreen;
    color: $darkGreen;
    border: solid $darkGreen 2px;
    /* overflow: auto; */
    /* padding: 30px; */
}

#navbar ol{
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* display: inline-block; */
    /* margin-left: auto;
    margin-right: auto; */
}

#navbar li {
    float: left;
    /* padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1rem;
}

#navbar a {
    /* display: block; */
    text-decoration: none;
    color: $darkGreen;
}

/* #navbar li:hover {
    background-color: $darkGreen;
} */

#navbar a:hover {
    /* background-color: $darkGreen; */
    background-color: $darkGreen;
    color: #fff;
}


